<app-header title="Historique" />

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="history-container">
    @for (item of records; track item.id) {
    <div
      [class]="item.isWin ? 'history-container__item win':'history-container__item loose'"
    >
      <div class="history__item-avatar">@if(item.isWin) { W } @else {L}</div>
      <div class="history-content">
        <div class="history-date-death">
          <div class="history__item-date">{{ item.date }}</div>

          <div class="history__item-deaths">{{ item.deaths }} morts</div>
        </div>

        <div class="history__item-pushups">{{item.pushupNumber}} pompes</div>
      </div>
    </div>
    } @empty {
    <div>Calmo pepito, pompe d'abord.</div>
    }
  </div>
</ion-content>
