:host {
  --ion-background-color: transparent !important;
  --ion-toolbar-background: transparent !important;

  ion-content {
    --offset-top: 15vh !important;
    --padding-top: calc(var(--offset-top) + var(--gap-xxl));
  }
}

.pattern {
  height: calc(var(--offset-top) * 2);
  width: 150%;
  top: calc(var(--offset-top) * -2);
  left: -25%;
  position: absolute;
  border-radius: 46%;
}
.user-container {
  position: relative;
  margin-bottom: calc(var(--gap) * 12);

  app-avatar {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(30%);
  }

  .user-maxdaily,
  .user-pseudo,
  .user-pushups {
    position: absolute;
    color: var(--on-surface);
    display: flex;
    flex-direction: column;
    span {
      font-size: var(--font-size-h6);
      color: var(--surface-tint);
    }

    b {
      font-weight: lighter;
    }
  }

  .user-maxdaily {
    left: 0;
    text-align: left;
    padding-left: 4vw;
  }

  .user-pseudo {
    bottom: calc(-18vw);
    text-align: center;
    font-size: var(--font-size-h4);
    color: var(--primary);
    left: 0;
    right: 0;
  }

  .user-pushups {
    padding-right: 4vw;
    text-align: right;
    right: 0;
  }
}

.disappear {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.appear {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 1s;
}
