<app-header />

<ion-content>
  <div class="user-container">
    <div class="pattern"></div>
    <app-avatar />
    <span class="user-pseudo"> {{userInfo?.displayName}} </span>
    <div class="user-pushups">
      <span>Total pompé</span>
      <b> {{pushupsStats?.totalPushups ?? 0}} </b>
    </div>
    @if(pushupsStats?.maxDailyPushups) {
    <div class="user-maxdaily">
      <span>le {{pushupsStats?.maxDailyPushups?.date}}</span>
      <b>{{pushupsStats?.maxDailyPushups?.total ?? 0}}</b>
    </div>
    }
  </div>
  <app-create-edit-match-record (formSubmit)="createMatchRecord($event)" />
  <ion-row class="ion-padding">
    <ion-col>
      <ion-button routerLink="/exercise" fill="outline" color="tertiary" shape="round" expand="block"
        ><ion-icon slot="start" name="flash-outline"></ion-icon> S'exercer
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button routerLink="/training" fill="outline" color="secondary" shape="round" expand="block">
        <ion-icon slot="start" name="rocket-outline"></ion-icon> S'entraîner
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
