<app-header />

<ion-content>
  <div class="user-container">
    <div class="pattern"></div>
    <app-avatar />
    <span class="user-pseudo"> {{userInfo?.displayName}} </span>
    <div class="user-pushups">
      <span>Total pompé</span>
      <b> {{pushupsStats?.totalPushups ?? 0}} </b>
    </div>
    @if(pushupsStats?.maxDailyPushups) {
    <div class="user-maxdaily">
      <span>le {{pushupsStats?.maxDailyPushups?.date}}</span>
      <b>{{pushupsStats?.maxDailyPushups?.total ?? 0}}</b>
    </div>
    }
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        @if (!newRecord?.pushupNumber){ Nouveau match }@else { Tu dois pomper
        }</ion-card-title
      >
    </ion-card-header>

    @if (!newRecord?.pushupNumber) {
    <ion-card-content [ngClass]="'content-container'">
      <ion-item>
        <ion-label position="floating">Nombre de morts</ion-label>
        <ion-input type="number" [(ngModel)]="newRecord.deaths"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Résultats</ion-label>
        <ion-select [(ngModel)]="newRecord.isWin">
          <ion-select-option [value]="true">Gagné</ion-select-option>
          <ion-select-option [value]="false">Perdu</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Pentakill</ion-label>
        <ion-toggle [(ngModel)]="newRecord.hasPentakill"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="newRecord.hasPentakill">
        <ion-label position="floating">Nombre de Pentakills</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="newRecord.pentakillNumber"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Abandon</ion-label>
        <ion-toggle [(ngModel)]="newRecord.hasSurrender"></ion-toggle>
      </ion-item>

      <ion-button class="ion-padding" expand="block" (click)="saveMatch()"
        >Enregistrer</ion-button
      >
    </ion-card-content>
    } @else {
    <ion-card-content [ngClass]="'content-container'">
      <h2>{{newRecord.pushupNumber}}</h2>
    </ion-card-content>
    <ion-button class="ion-padding" expand="block" (click)="resetForm()"
      >Valider</ion-button
    >}
  </ion-card>
</ion-content>
