<ion-header>
  <ion-toolbar>
    <ion-button
      style="margin-right: var(--gap-l)"
      shape="round"
      slot="start"
      fill="clear"
      color="secondary"
      routerLink="/tabs"
    >
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>S'entraîner</ion-title>
    <app-theme-switcher slot="end" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="p-container"></div>
  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  @if(isNewby){
  <div class="newby-container">
    <h1>On dirait que tu es nouveau par ici ?</h1>
    <div class="newby-reps">
      @switch (newByStep) { @case (1) {
      <span>Alors dis moi tout, quel est ton max de pompes d'affilé ?</span>
      <ion-input type="number" [(ngModel)]="maxNewByPushups"></ion-input>
      <ion-button (click)="handleMaxPushups()" color="success" shape="round"
        >Valider</ion-button
      >
      } @case (2) {
      <span>Pompe moi ça alors !</span>
      <app-pushup-counter
        [count]="maxNewByPushups"
        (change)="setMaxPushup($event)"
      />
      <ion-input type="number" [(ngModel)]="maxNewByPushups"></ion-input>
      <ion-button (click)="handleMaxPushups()" color="success" shape="round"
        >Valider</ion-button
      >
      } @case (3) {
      <span>On calcule ton niveau...</span>
      <div style="width: 100%; text-align: center;">

        <ion-spinner name="bubbles"></ion-spinner>
      </div>
      } @default {
      <span>Tu connais ton maximum de pompes d'affilé ?</span>
      <div class="oui-non">
        <ion-button (click)="setNewbyStep(1)" shape="round" color="primary">
          Oui
        </ion-button>
        <ion-button (click)="setNewbyStep(2)" shape="round" color="secondary">
          Non
        </ion-button>
      </div>
      }}
    </div>
  </div>
  } @else {
  <ion-card style="margin-top: var(--gap-l)">
    <ion-card-header>
      <ion-card-title>Mon programme</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>Progression: {{selectedDifficulty | appDiffuclty}}</h3>
      <ion-item lines="none">
        <ion-range
          [ticks]="true"
          [snaps]="true"
          [value]="selectedDifficultyNumber"
          [min]="0"
          [max]="3"
        ></ion-range>
      </ion-item>
      <h3>Niveau <b>{{currentLevel}}</b></h3>
      <ion-item lines="none">
        <ion-radio-group [value]="currentLevel">
          <ion-radio [value]="1"></ion-radio>
          <ion-radio [value]="2"></ion-radio>
          <ion-radio [value]="3"></ion-radio>
          <ion-radio [value]="4"></ion-radio>
          <ion-radio [value]="5"></ion-radio>
          <ion-radio [value]="6"></ion-radio>
          <ion-radio [value]="7"></ion-radio>
          <ion-radio [value]="8"></ion-radio>
          <ion-radio [value]="9"></ion-radio>
          <ion-radio [value]="10"></ion-radio>
        </ion-radio-group>
      </ion-item>
      <div class="divider"></div>
      <ion-item-divider>
        <ion-label> Séance du jour </ion-label>
        <ion-item>
          <ion-row class="ion-align-items-center">
            {{
            trainingProgram[currentLevel-1].difficulties[selectedDifficulty].sets
            }} x {{
            trainingProgram[currentLevel-1].difficulties[selectedDifficulty].reps
            }} - {{
            trainingProgram[currentLevel-1].difficulties[selectedDifficulty].rest_seconds
            }}s - Total: {{
            trainingProgram[currentLevel-1].difficulties[selectedDifficulty].sets
            *
            trainingProgram[currentLevel-1].difficulties[selectedDifficulty].reps
            }}
          </ion-row>
        </ion-item>
      </ion-item-divider>
    </ion-card-content>
  </ion-card>
  }
  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="medium" (click)="cancel()">Annuler</ion-button>
          </ion-buttons>
          <ion-title>Choisir un niveau</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item
            (click)="newLevel(level)"
            class="level-item"
            *ngFor="let level of sortedLevels"
          >
            <ion-label class="ion-activatable">
              <h2>
                {{ level.difficulty | appDiffuclty }} - Level {{ level.level }}:
                {{ level.name }}
              </h2>
              <p>
                Sets: {{ level.sets }} | Reps: {{ level.reps }} | Repos: {{
                level.rest_seconds }}s | Total: {{ level.total_pushups }}
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer class="ion-padding">
  <ion-col>
    @if(!isNewby){
    <ion-button
      [disabled]="isNewby"
      (click)="startTrainingSession()"
      expand="block"
      size="large"
      >Let's go</ion-button
    >
    }
    <ion-button
      color="secondary"
      style="margin-top: var(--gap-l)"
      id="open-modal"
      expand="block"
      >Choisir LVL</ion-button
    >
  </ion-col>
</ion-footer>
