<app-header title="Statistiques" />

<ion-content [fullscreen]="true">
  <div class="p-container"></div>
  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>
        <div>
          <span>Total de pompes :</span>
          <b> {{pushupsStats?.totalPushups ?? 0}} </b>
        </div>
        @if(pushupsStats?.maxDailyPushups) {
        <div>
          <span>Ton max : </span>
          <b>{{pushupsStats?.maxDailyPushups?.total ?? 0}}</b>/j
        </div>
        }</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <div class="chart-container">
        <div
          class="bar-container"
          [style.height]="getBarHeight(day.total)"
          *ngFor="let day of dailyPushups"
        >
          <div class="bar">
            <span class="bar-value">{{ day.total }}</span>
          </div>
          <span class="bar-label">{{ day.date }}</span>
        </div>
        <div class="no-data" *ngIf="dailyPushups.length === 0">
          <ion-label>Aucune données disponible</ion-label>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border ion-text-center ion-padding">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-button
          style="margin-right: var(--gap-l)"
          shape="round"
          color="primary"
          routerLink="/tabs/statistics/leaderboard"
        >
          <ion-icon slot="start" name="earth-outline"></ion-icon>
          <ion-label>Classement</ion-label>
        </ion-button>
        <app-friend-redirection />
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
