<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Créer un compte</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Pseudo</ion-label>
        <ion-input type="text" [(ngModel)]="displayName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmer le MDP</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="register()"
        >Créer le compte</ion-button
      >
      <ion-button expand="block" fill="clear" routerLink="/login">
        Déjà connu ? Connecte-toi
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
